html{
      font-size: 62.5%;
}
body,html{
      background-color: white;
      height: 100vh;
     
}

      /* ............................Desktop version of the website starts from here................................... */
body{
      margin: 0;
      display: grid;
      grid-template-areas: 'aside  header header header header header header'
                             'aside section1 section1 section1 section1 section1 section2'
                             'aside main main main main main main'
                             'aside footer footer footer footer footer footer' ;
}
/* ...........sidebar........... */
aside{
      grid-area:aside ;
      margin-left: 7rem;
      margin-top: 2rem;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 5rem;

}
aside h1{
      flex: .5;
      text-align: left;
      position: relative;
      top: 1rem;
      font-size: 3rem;
      font-weight: bolder;
      margin: 0;
      padding-bottom: 0;
}
aside nav{
      flex:2;  
}
aside nav label{
      font-size: 26px;
      color: crimson;
      display: none;
}
aside nav #expand_toggle{
      display: none;
}

aside nav ul{
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-evenly;
      padding: 0;
      height: 100%;
      margin: 0;
      padding: 0;
}
aside nav ul li {
      list-style: none;
      font-size:1.5rem;
      font-weight: lighter;
}
aside nav ul li a{
      text-decoration: none;
      color: black;
}
aside nav ul li .firstLink{
      text-decoration: line-through;
      text-decoration-color: crimson;
      text-decoration-thickness: .2rem;
}
aside nav ul li a:hover{
      color: crimson;
}
aside nav ul {
     padding: 0;
}
aside button{
      width: 10rem;
      border-radius: 2rem;
      border: none;
      padding: 1rem;
      outline: none;
      background-color: crimson;
      opacity: .8;
      color: white;
}
aside button:hover{
      color: cyan;
}
.btn2{
      display: none;
}
/* .........header......... */
header{
      grid-area: header;
}
/* ..........section1........ */
#sec1{
      grid-area:section1 ;
      padding-left: 13rem;
}
#sec1 h1{
      font-size: 5rem;
      padding: 0;
      margin: 0;
      font-weight: bolder;
}
/*......... section2.......... */
#sec2{
      grid-area:section2 ;
      padding-right: 12rem;
      font-size: 1.3rem;
      align-items: center;
      letter-spacing: .1rem;
      line-height: 2rem;
      padding-bottom: 0;
      margin-bottom: 0;
}
hr{
      background-color: crimson;
      height: .1rem;
      width: 6rem;
}
/* ...........mainSection......... */
main{
      grid-area:main ;
      display: flex;
      justify-content: space-between;
      margin-left: 15rem;
      margin-right: 2rem;
}
main .box{
      height: 100%;
      width: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
      box-shadow:  .1rem .1rem 5rem rgba(46,49,49,.3);
      outline: none;
      border: none;
}
main .box .circularImage{
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
}
/* ........footer......... */
footer{
      grid-area:footer ;
}


/*........................ Mobile version of the website starts from here.............................................. */

@media screen and (max-width:500px) {
      body{
            display: flex;
            flex-direction: column;
            margin-left: 4rem;
            margin-right: 4rem;            
      }
      /* ..........sidebar.......... */
      aside {
            display: flex;
            flex-direction: row;
            margin: 0;
            max-width: 500px;
            padding: 0;
            justify-content: space-around;
            align-items: center;
            order: 1;
      }
      aside h1{
            flex: 1;
            order: 2;
            position: relative;
            top: 2rem;
      }
      aside .toBeReplaced{
            visibility: hidden;
            position: relative;     
      }
      aside .toBeReplaced:after {
            visibility: visible;
            position: absolute;
            top: 0;
            left: 0;
            content: "Lorem";
        }
      aside nav{
            flex: 1;
            order: 1;
      }
      #expand_btn{
            display: block;
            padding-left: 1rem;
            position: relative;
            top: .2rem;
      }
      #expand_toggle{
            display: none;
      }
      aside nav ul li {
        font-size: 1.5rem;
        font-weight: lighter;
        padding: 1rem;
        display: none;
      }
      #expand_toggle:checked ~ * .expandable {
           
            display: block;
      }
      aside button{
            width: 5rem;
            height: 3rem;
            padding: 0;
            flex: 1;
            order: 3;
            
      }
      .btn{
            display: none;
      }
      .btn2{
            display: block;
            background-color: white;
            font-size: 3rem;
            position: relative;
            bottom: .4rem;
            left: 1.5rem;
            
      }
      /* .............section1.................. */
      #sec1{
            order: 2;
            padding: 3rem;
            padding-left: 0;
            font-weight: bolder;
      }
      #sec1 h1{
            font-size: 3rem;
      }
      /* ................section2.............. */
      #sec2{
            order: 4;
            margin: 0;
            padding: 0;
      }
      #sec2 p{
            font-size: 1.5rem;
      }
      #sec2 p br{
            display: none;
      }
      /* ............mainSection................... */
      main{
            order: 3;
            margin: 0;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
      }
      main .box{
            height: 13rem;
            width: 11rem;
            padding: 1.5rem;
            padding-top: 3.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
      }
      main .box h1{
            font-size: 1.3rem;
            font-weight: bolder;
      }
}